@model MyBlog.DataAccess.ViewModels.UserSummaryViewModel
<div>
    <a asp-controller="Account" asp-action="Profile">@Model.FullName</a>
    <a  asp-controller="Account" asp-action="LogOff">Çıkış</a>
</div>