
@{
    ViewData["Title"] = "Default";
}

<ul>
    <li><a asp-action="ChangePassword" asp-controller="Account">Parola Değiştir</a></li>
    <li><a asp-action="#" asp-controller="#">E-Mail Değiştir</a></li>

</ul>
