@model MyBlog.DataAccess.ViewModels.CategoriesViewModel

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="list-group col-md-10 align-content-md-center">
   
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Ana Kategori</th>
                    <th>Aksiyon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>  @item.CategoryName</td>
                        <td>@item.ParentCategoryId</td>
                        <td>
                            <a class="fas fa-fw fa-cog" asp-controller="admin" asp-action="CategoryDetail" asp-route-id="@item.Id"></a>
                            <a class="fas fa-fw fa-trash " asp-controller="admin" asp-action="" asp-route-id="@item.Id"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
</div>