@model MyBlog.DataAccess.ViewModels.CommentsViewModel
@{
    ViewData["Title"] = "Default";
}
<div class="container">

    <div class="row">
        <ul class="list-group">

            @foreach (var item in Model.Comments)
            {

            <li class="list-group-item">
                <h3>@item.Post.Title</h3>
                <p>Yorumunuz : @item.Content</p>
            
                <a class="btn btn-danger" asp-action="DeleteComment" asp-controller="Post" asp-route-id="@item.Id">Sil</a>

            </li>
            }
        </ul>

    </div>
</div>
